---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/home-page/welcome.tsx'
import {getCollection} from 'astro:content'
import dotenv from 'dotenv'

const getposts = await getCollection('post')
const post = getposts.sort((a, b) => a.slug.localeCompare(b.slug));

dotenv.config({ path: '/custom/path/to/.env' })

---

<Layout title={`Inicio - C-Med Days Badalona 2026`}>
	<Welcome/>
	<div class="w-full">
		{
			post.map(item =>{
				return(
					<article class="my-5 max-w-4xl mx-auto p-3 border-b-1 border-gray-400">
					{/* Imagen principal */}

					{item.data.img && 
						<img 
							src={item.data.img} 
							alt={item.data.title} 
							class="h-80 w-full object-cover rounded-md mb-4"
						/>
					}
					

					{/* Título */}
					<h2 class="text-5xl mb-2 font-sans font-extrabold text-indigo-500">{item.data.title}</h2>

					{/* Subtítulo */}
					<h3 class="text-3xl mb-4 font-sans font-extrabold text-gray-900">{item.data.subtitle && item.data.subtitle }</h3>

					{/* Contenido en lista */}
					
					<div class="markdown-content" set:html={item.rendered?.html}></div>
					
					{/* Imágenes adicionales */}
					<div
					class={`flex mt-10 flex-wrap gap-2 ${ // antes gap-4
						item.data.imgsContent?.length === 1 ? '' : 'justify-evenly'
					}`}
					>
					{item.data.imgsContent?.map((imgSrc: string, index: number) => (
						<img
						src={imgSrc}
						alt={`${item.data.title} ${index + 1}`}
						class={`rounded-md ${
							item.data.imgsContent.length === 1
							? 'h-96 w-full' // antes h-80
							: 'w-[100%] sm:w-[32%]' // antes 80% y 30%
						} object-cover`}
						/>
					))}
					</div>

					</article>
				)
			})
		}

	</div>
</Layout>
